* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(11, 89, 91);
  background: radial-gradient(
    circle,
    rgba(11, 89, 91, 1) 0%,
    rgba(24, 106, 167, 1) 100%,
    rgba(0, 95, 255, 1) 100%
  );
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}
.Uno {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  align-items: center;
  color: aliceblue;
}

.container {
  margin-top: 10px;
  grid-area: main;
  width:80%
}
.card {
  margin-bottom: 25px;
}
.card-title {
  text-align: center;
  text-transform: capitalize;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(27, 33, 82);
  width: 100vw;
  margin: 0;
  padding: 20px;
  align-items: center;
  grid-area: header;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  background-color: rgb(27, 33, 82);
  align-items: center;
  grid-area: footer;
}
.textFooter {
  text-align: center;
}